/*
    Document   : style
    Created on : Nov 1, 2015, 10:55:26 PM
    Author     : GATO
    Description:
        Main Stylesheet, LF.net
*/

body {
    font-family: Verdana, san-serif;
    padding: 0;
    margin: 0;
}

div#header {
   height: 80px;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: #c0c0c4;
   padding: 0 0 0 21px;
}

div.container {
    clear: both;
    margin-top: 80px;
}

.container > div {
    width: 100%;
    float: left;
}

div.first {   
   background-image: url('turbines.jpg');
   background-size: cover;
   background-attachment: fixed;   
}

div.second {
   background-image: url('great_engine.jpg');
   background-size: cover;
   background-position: bottom;
}

div.third {
   background-image: url('old_keys.jpg');
   background-size: cover;
   background-attachment: fixed;   

}

@media screen and (min-width:1024px) {
    div.content_container {
       width:85%;
       clear: both;   
       float: left;
       margin-left: 7%;
       margin-top: 21px;   
       height: 779px;
       margin-bottom: 21px;    
    }
    .content_container p {
        font-size: 1.28vw;
        margin: 21px 21px 21px 21px;
    }        
}
@media screen and (max-width:1024px) {
    div.content_container {
       width:90%;
       clear: both;   
       float: left;
       margin-left: 7%;
       margin-top: 21px;          
       margin-bottom: 21px;    
    }
    .content_container p {
        font-size: 21px;
        margin: 21px 21px 21px 21px;
    }        
}
.content_container > div {
    
}




.first .content_container > div {
    background-color: #202020;
    color: white;    
    
    height: auto;
}
.first div.subtitle {
    background-color: transparent;
    text-align: right;
}

.second .content_container > div {
    background-color: #909098;
    height: auto;
}

.second div.subtitle {
    background-color: transparent;
    text-align: right;
}

.third .content_container > div {
    background-color: rgb(165, 120, 99);
    height: auto;
}



.subtitle h2 {
    font-size: 30px;
}

.content_container h2 {
    margin: 26px;
}

div#footer {
  padding: 21px;
}

.container div.space {
    background-color: transparent;
}

.col-lg-12, .col-md-12, .col-sm-12, .col-xs-12 {
    width: 96%;
    float: left;
    display: block;
}

/* large */
@media screen and (min-width:1024px) {
    .col-lg-1 {
        width: 8%;
        float: left;
        display: block;
    }    
    .col-lg-2 {
        width: 16%;
        float: left;
        display: block;
    }    
    .col-lg-3 {
        width: 24%;
        float: left;
        display: block;
    }    
    .col-lg-4 {
        width: 32%;
        float: left;
        display: block;
    }
    .col-lg-5 {
        width: 40%;
        float: left;
        display: block;
    }    
    .col-lg-6 {
        width: 48%;
        float: left;
        display: block;
    }
    .col-lg-7 {
        width: 56%;
        float: left;
        display: block;
    }        
    .col-lg-8 {
        width: 64%;
        float: left;
        display: block;
    }        
    .col-lg-9 {
        width: 72%;
        float: left;
        display: block;
    }        
    .col-lg-10 {
        width: 80%;
        float: left;
        display: block;
    }        
    .col-lg-11 {
        width: 88%;
        float: left;
        display: block;
    }            
}

/* medium */
@media screen and (max-width:1024px)
 and (min-device-width:768px) {
    .col-md-4 {
        width: 31%;
        float: left;
        display: block;
    }
    .col-md-6 {
        width: 49%;
        float: left;
        display: block;
    }
}

/* small */
@media screen and (max-width:768px) 
 and (min-width:480px){
    .col-sm-4 {
        width: 31%;
        float: left;
        display: block;
    }
    .col-sm-6 {
        width: 49%;
        float: left;
        display: block;
    }
}

/* extra-small */
@media screen and (max-width:480px) {
    .col-xs-4 {
        width: 31%;
        float: left;
        display: block;
    }
    .col-xs-6 {
        width: 49%;
        float: left;
        display: block;
    }
}



